.card {

    height: 500px;
    margin-bottom: 10px;

    .abilities {
        .single-ab {

            button {
                background-color: transparent;
                border: none;
                color: black;
                font-weight: bold;
                text-decoration: underline $pkmn-red;
                text-transform: inherit
            }
        }

        @include first-letter-upper
    }
}